@import "./main.scss";


.form-container {
    min-width: 30%;
    max-width: 50%;
    display: block ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
    border-radius: 5px; 
    padding: 2rem 2.5rem;
    margin: 5vw 0;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    // transition: all 0.2s;
}

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-container {
    min-height: 100vh;
}

.empty-container {
    min-height: 100vh;
    background-color: $primary;
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-password {
    color: $border;
    font-size: 1.2rem;
    &:hover {
        color: #555555;
    }
    user-select: none;
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before, .dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #9880ff;
  }
  50%, 100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}

.modal-active {
  display: block !important;
  top: 0px !important;
  
}

.title {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.title-sm {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.error-message {
    font-size: 0.8rem;
    color: red;
    visibility: hidden;

}

.dropdown-items {
    position: absolute;
    background-color: white;
    z-index: 5;
    border: 1px solid black;
    // padding: 0.1rem 1rem;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: scroll;

    li {
      padding: 0.5rem 1rem;
      border-bottom: 1px solid $border;
      cursor: pointer
    }
    li:hover {
      background-color: $border;
    }
}